:root {
    /* Paleta de colores principal */
    --bg-black: #000;
    --bg-dark: #111;
    --bg-panel: #222;
    --text-white: #fff;
    --accent-blue: #38B6FF;
    --accent-blue-hover: #0a30b4;
    --live-badge-color: rgba(204, 0, 0, 0.9);
    --premiere-badge-color: #4d68ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-black);
    color: var(--text-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

/* Scrollbar global (Aplicable a todo el sitio) */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: var(--bg-panel);
}
::-webkit-scrollbar-thumb {
    background-color: var(--accent-blue);
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--accent-blue);
    color: var(--bg-black);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    margin-top: 10px;
}

.submit-btn:hover:not(:disabled) {
    background-color: var(--accent-blue-hover);
    color: var(--text-white);
}